<div class="container">
    <p style="text-align: center; font-weight: bolder; font-size: x-large;">Forgot Password</p>
    <div class="flex-column" style="margin-left: 400px; margin-top: 50px;">
     <label >OTP</label>
    </div>
    <div class="inputForm" style="width: 40%; margin-left: 400px;">
        
        <input [(ngModel)]="otp"  placeholder="Enter your OTP" class="input" type="text">
    </div>
    <div class="flex-column" style="margin-left: 400px; margin-top: 10px;">
        <label> New Password</label>
       </div>
   
    <div class="inputForm" style="width: 40%; margin-left: 400px;">
        
        <input [(ngModel)]="password"   placeholder="New Password" class="input" type="text">
    </div>
    <button (click)="resetPassword()"   class="button-submit" style="width: 40%; margin-left: 400px; background-color:#C9AA92;">Reset Password</button>
</div>