<div class="container-fluid m-0 p-0">
    <div class="hero">
        <img id="backgroundImg" src="./assets/img/entrance.jpg" alt="Hotel Entrance">
        <div class="overlay">
            <div class="content">
                <div data-aos="fade-down" class="label">THE BEST 5 STAR HOTEL</div>
                <h1 data-aos="fade-up">FIND YOUR LUXURY
                    <br> ROOMS & <br> ENJOY<span>YOUR VACATION</span>
                </h1>

                <div class="search-bar">
                    <div class="search-item">
                        <label>CHECKIN</label>
                        <input type="date">
                    </div>
                    <div class="search-item">
                        <label>CHECKOUT</label>
                        <input type="date">
                    </div>
                    <div class="search-item">
                        <label>GUESTS</label>
                        <div class="guest-counter" *ngFor="let user of userList">
                            <input [value]="user.userName" type="text" name="" id="">
                        </div>
                    </div>

                </div>
                <img data-aos="zoom-in" id="rightImage" src="./assets/img/home-img-2.jpg" alt="">
            </div>
        </div>
    </div>
</div>


<div class="container-fluid m-0 p-0">
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <img id="welcomeImg" src="./assets/img/welcome.jpg" alt="">
        </div>
        <div class="col-md-6 col-sm-12">
            <img style="width: 20%; margin-top: 50px;" src="./assets/img/golden-art.jpg" alt="">
            <p class="hotel-welcome" data-aos="fade-left">WELCOME TO HOTEL</p>
            <p class="hotel-title" data-aos="fade-up">The Best Hotel on the Beach Side</p>
            <p style="font-weight: 600; color:#939fa3 ;">
                The Hotel's offers a
                refreshing escape with access to the pool,
                spa, and dining options. It's perfect for a day of relaxation and fun, ideal for families,
                couplessmall-round-1
            </p>
            <div class=" col-md-6">
                <div id="small-round-1">
                    <img src="./assets/img/icons8-card-payment-64.png" alt="">
                </div>
                <p style="margin-top: -70px; margin-left: 100px; font-weight: 600; font-size: larger; color: #1c2f36;">
                    Easy & Quick </p>
                <p style="margin-left: 100px; font-weight: 600; font-size: larger;">Booking</p>
            </div>
            <div>
                <div id="small-round-2">
                    <img src="./assets/img/icons8-living-room-64.png" alt="">
                </div>
                <p style="margin-top: -70px; margin-left: 100px; font-weight: 600; font-size: larger; color: #1c2f36;">
                    Best Room</p>
                <p style="margin-left: 100px; font-weight: 600; font-size: larger;"> Selection</p>
            </div>

            <button style="margin-top:50px; margin-left: 50px;" class="btn" routerLink="/dayout"> DISCOVER MORE</button>
        </div>
    </div>
</div>

<div class="container-fluid  p-0" style=" margin-top: 50px; background-color: #faf6f0;">
    <div class="row">
        <div class="image-container">
            <img style="width: 10%; margin-top: 10px;" src="./assets/img/golden-art.jpg" alt="">
        </div>
        <p class="title-small">DISCOVER OUR ALL</p>
        <p class="title-large">Featured Amenities</p>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-12">
            <div class="card" style="margin-left: 100px;">
                <img style="width: 50%; margin-top: -80px;" src="./assets/img/car (1).png" alt="">
                <p style="margin-top: 8px;">Free Parking</p>
            </div>
        </div>
        <div class="col-md-4 col-sm-12">
            <div class="card" style="margin-left: 80px;">
                <img style="width: 50%; margin-top: -80px;" src="./assets/img/service-center.png" alt="">
                <p style="margin-top: 10px;">24/7 Support</p>
            </div>
        </div>
        <div class="col-md-4 col-sm-12">
            <div class="card" style="margin-left: 100px;">
                <img style="width: 50%; margin-top: -80px;" src="./assets/img/wi-fi.png" alt="">
                <p style="margin-top: 8px;">Wifi Internet</p>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid p-0">
    <div class="row">
        <div class="col-md-8">
            <img id="dayoutArtImg" src="./assets/img/golden-art.jpg" alt="">
            <p class="dayout-header" data-aos="fade-right">OUR BENIFITS</p>
            <p class="dayout-title" data-aos="fade-up">Enjoy The Hotel Quality & <br>Best Hospitality</p>
            <p style="color: #939fa3; font-weight: 600;">We combine unparalleled luxury with heartfelt
                hospitality, ensuring every guest feels cherished and at home <br> eFrom world-class amenities to
                personalized service, we craft unforgettable experiences with elegance and care
            </p>

        </div>

        <div class="col-md-4">
            <div class="bubble">
                <img src="./assets/about.jpg" alt="">
            </div>
            <div class="dayout-details-1">
                <p style="color: white; font-weight: bold; font-size: large; text-align: center;">Best Restaurant </p>
                <p style="color: #91d0e7; text-align: center; margin-top: 20px;">The restaurant's stylish interior and
                    inviting atmosphere make it the perfect
                    place for any meal. </p>

            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-md-4 col-sm-12">
            <div class="video-container" style="margin-top: 30px; margin-left: 30px;">
                <iframe width="300" height="200" src="https://www.youtube.com/embed/BNFkN3z4Nhk?si=JTYipZNSyAPWRc8o"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-md-4  col-sm-12">
            <div class="bookmark">
                <p
                    style=" margin-top:-20px; font-size: xx-large; font-weight: bold; margin-left: 20px; color: #d9a878;">
                    420+</p>
                <p style=" margin-top:-5px; font-size: x-large; font-weight: bold; color: #939fa3;">Luxury Room</p>
            </div>
            <div class="bookmark">
                <p
                    style=" margin-top:-20px; font-size: xx-large; font-weight: bold; margin-left: 20px; color: #d9a878;">
                    560+</p>
                <p style=" margin-top:-5px; font-size: x-large; font-weight: bold; color: #939fa3;">Guest Visit</p>
            </div>
        </div>
        <div class="col-md-4  col-sm-12">
            <div class="bubble-2">
                <img src="./assets/img/swedish-body-massage.jpg" alt="">
            </div>
            <div class="dayout-details-2">
                <p style="color: white; font-weight: bold; font-size: large; text-align: center;">Spa Wellness </p>
                <p style="color: #91d0e7; text-align: center; margin-top: 20px;">The restaurant's stylish interior and
                    inviting atmosphere make it the perfect
                    place for any meal. </p>
            </div>
        </div>
    </div>
    <div class="row" style="margin-left: 800px; margin-right: 10px;">

        <button class="btn" routerLink="/menuoptions"> FIND MORE</button>
    </div>
</div>

<div class="conatiner-fluid p-0">
    <div class="row">
        <p id="gallery">Gallery</p>
    </div>
    <div class="row" style="margin-top: 50px;">
        <div class="col-3">
            <div class="imgOneGallery">
                <img src="./assets/img/before-room1.jpg" alt="">
                <!-- <img src="./assets/img/icons8-instagram-50.png"  class="insta-icon"> -->
            </div>



        </div>
        <div class="col-6">
            <img style="margin-left: 50px; width: 85%; height:35vh" src="./assets/img/home-gallery-1.jpg" alt="">
        </div>
        <div class="col-3">
            <img style="width:90%; height:35vh" src="./assets/img/home-gallery-2.jpg" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <img style="margin-left: 50px; margin-top: 20px; width:90%; height:35vh"
                src="./assets/img/home-gallery-3.jpg" alt="">
        </div>
        <div class="col-6">
            <img style="margin-left: 30px; margin-top: 20px; width:90%; height:35vh"
                src="./assets/img/home-gallery-4.jpg" alt="">
        </div>
    </div>
</div>

<div class="container-fluid p-0">
    <div class="row">
        <div class="col-6">
            <img id="roomArtImg" src="./assets/img/golden-art.jpg" alt="">
            <p class="room-header" data-aos="fade-right">FEATURED ROOMS</p>
            <P class="room-title" data-aos="fade-up">Discover Our Rooms</P>
        </div>
        <div class="col-6">
            <hr style="margin-top: 70px; color: #d9a878;">
            <p style="margin-top: 30px; font-size: medium; font-weight:600; color: #939fa3;">
                We offers stylish and comfortable accommodations, perfect for both business and leisure
                travelers. Enjoy modern amenities, elegant rooms, and exceptional service, ensuring a relaxing stay.
                Whether you're here for a short getaway or a longer visit, Lucra Hotel provides a welcoming environment
                with top-notch facilities.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-sm-12">
            <div class="room-card">
                <div class="card-image">
                    <img src="./assets/img/triple-room.jpg" alt="Room Image">
                    <div class="discount-tag">30% OFF</div>
                    <div class="icons">
                        <span class="icon heart-icon">❤️</span>
                    </div>
                </div>
                <div class="card-content">
                    <div class="rating">
                        <img width="10%" src="/assets/img/star.png" alt="">
                        <img width="10%" src="/assets/img/star.png" alt="">
                        <img width="10%" src="/assets/img/star.png" alt="">
                        <img width="10%" src="/assets/img/star.png" alt="">

                    </div>
                    <h3 class="title">Triple Room</h3>

                    <div class="person-count">Person: <strong>08</strong></div>
                </div>
            </div>
        </div>
        <div class="col-md-3  col-sm-12">
            <div class="room-card">
                <div class="card-image">
                    <img src="./assets/img/delux-room-home.jpeg" alt="Room Image">
                    <div class="discount-tag">30% OFF</div>
                    <div class="icons">
                        <span class="icon heart-icon">❤️</span>
                    </div>
                </div>
                <div class="card-content">
                    <div class="rating">
                        <img width="10%" src="/assets/img/star.png" alt="">
                        <img width="10%" src="/assets/img/star.png" alt="">
                        <img width="10%" src="/assets/img/star.png" alt="">
                        <img width="10%" src="/assets/img/star.png" alt="">

                    </div>
                    <h3 class="title">Delux Room</h3>

                    <div class="person-count">Person: <strong>04</strong></div>
                </div>
            </div>
        </div>
        <div class="col-md-3  col-sm-12">
            <div class="room-card">
                <div class="card-image">
                    <img src="./assets/img/Luxury-room-home.jpeg" alt="Room Image">
                    <div class="discount-tag">30% OFF</div>
                    <div class="icons">
                        <span class="icon heart-icon">❤️</span>
                    </div>
                </div>
                <div class="card-content">
                    <div class="rating">
                        <img width="10%" src="/assets/img/star.png" alt="">
                        <img width="10%" src="/assets/img/star.png" alt="">
                        <img width="10%" src="/assets/img/star.png" alt="">
                        <img width="10%" src="/assets/img/star.png" alt="">

                    </div>
                    <h3 class="title">Luxury Room</h3>

                    <div class="person-count">Person: <strong>02</strong></div>
                </div>
            </div>
        </div>
        <div class="col-md-3  col-sm-12">
            <div class="room-card">
                <div class="card-image">
                    <img src="./assets/img/family-room.jpg" alt="Room Image">
                    <div class="discount-tag">30% OFF</div>
                    <div class="icons">
                        <span class="icon heart-icon">❤️</span>
                    </div>
                </div>
                <div class="card-content">
                    <div class="rating">
                        <img width="10%" src="/assets/img/star.png" alt="">
                        <img width="10%" src="/assets/img/star.png" alt="">
                        <img width="10%" src="/assets/img/star.png" alt="">
                        <img width="10%" src="/assets/img/star.png" alt="">

                    </div>
                    <h3 class="title">Family Room</h3>
                    <div class="person-count">Person: <strong>06</strong></div>
                </div>
            </div>
            <button style="margin-top: 50px;" class="btn" routerLink="/accomadations"> FIND MORE</button>
        </div>



    </div>
</div>

<div class="container-fluid p-0">
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <img style="width:100% ; margin-top: 10px;" src="./assets/img/hotel-logo.jpg" alt="">
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="image-container">
                <img src="./assets/img/about-us.jpg" alt="About Us" class="about-img">
                <p id="about-title">About Us</p>
                <p id="about-para">Welcome to SCHLOSSBERG, where elegance meets comfort to create unforgettable
                    experiences. Nestled in the heart of your dream destination, Luxsy is a sanctuary of luxury,
                    tailored to meet the desires of every traveler.</p>
            </div>
        </div>
    </div>
</div>